@import "../../colors.scss";

.categories-container {
	display: flex;
	flex-direction: column;

	a {
		text-decoration: none;
	}

	.category-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 63px;
		height: 63px;
		opacity: 0.7;

		& > svg {
			fill: $primary-text-color;
		}

		div {
			margin-top: 4px;
			color: $primary-text-color;
			font-size: 10px;
			font-family: Inter;
			font-style: normal;
			font-weight: 700;
			line-height: 14px;
			letter-spacing: 0.1px;
			opacity: 0.7;
		}

		&.active {
			border-radius: 5px;
			background: #fff;
			box-shadow: 0px 1px 2px -1px $box-shadow;

			& > div {
				color: $primary-button-active-color;
			}

			& > svg {
				fill: $primary-button-active-color;
			}
		}
	}
}

@media (max-width: 767px) {
	.categories-container {
		margin-top: 36px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 8px 16px;

		.category-item,
		.category-item.active {
			height: 95px;
			width: 95px;
		}
	}
}
