@import "../../colors.scss";

.card-container {
	display: flex;
	flex-direction: column;
	padding-right: 21px;

	& > #latest-news-divider {
		margin-top: 12px;
		height: 1px;
		width: 100%;
		opacity: 0.2;
		flex-shrink: 0;
		color: $background-color;
	}

	.time {
		color: $primary-blue;
		font-size: 10px;
		font-family: Inter;
		font-style: normal;
		font-weight: 900;
		line-height: 16px;
		letter-spacing: -0.015px;
		text-transform: uppercase;
	}

	.title {
		& > a {
			margin-top: 3px;
			text-decoration: none;
			color: #000;
			font-size: 16px;
			font-family: Inter;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: -0.11px;
			// Take care of long titles
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}
