.favorites-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	margin-top: 16px;
}

@media (max-width: 1200px) {
	.favorites-grid-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 767px) {
	.favorites-grid-container {
		grid-template-columns: 1fr;
	}
}
